/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/
.navbar { /*test*/
    position: relative;
    min-height: /*50*/70px;
    margin-bottom: 20px;
    border: 0px solid transparent;
    border-bottom: 1px solid #eaeaea; /*test*/
    font-size: 16px;
}/*test end*/
.navbar-inverse {border-radius: 0; background-color: #fff/*f9f9f9*/;}/*Тест*/

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen
and (min-width : 783px) {
  .navbar-brand>img {
    display: block;
    margin-left: 15px;
    padding: -15px -15px;
}
}
.navbar-brand { position: relative; z-index: 2; /*test*/ float: left; min-height: 60px;padding: 5px 15px;
  margin-top:7px; margin-bottom: 12px;}

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; /*test*/margin-top: 28px; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #fff/*f9f9f9*/; } /*тест*/
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px;/*test*/color:#fff; }
.btn.btn-outline { background-color: #00AEF1/*transparent*/; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}
/*Выделение элементов меню при наведении*/
.navbar-inverse .navbar-nav > li> a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #F02472;
  /*border-radius: 0px;*/
    outline: none;
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #00AEF1;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
}/*Fix color text btn*/
.navbar-inverse .navbar-nav>li>a>span.text-color {
    color: #fff;
}
.navbar-inverse .navbar-toggle {margin-top: -50px;}/*тест*/
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #00AEF1;
    }
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #f9f9f9;
}
.navbar-inverse .navbar-toggle {
    border-color: #f9f9f9;
}
.navbar-inverse .navbar-toggle:hover {
    border-color: #e1e1e1;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #e1e1e1;
}
.btn-danger {
    color: #fff;
    background-color: #00AEF1;
    border-color: #00AEF1;
  }
  .btn-danger:hover,
  .btn-danger:active,
  .btn-danger:visited {
     background-color: #EE2272;
   }
/*Выделяет текущюю категорию*/
li.current-cat {
    border-bottom: 3px solid #00AEF1;
    color: #00AEF1;
    font-weight: bold;
}
/*Отступы для логотипа*/
.container>.navbar-header {
  margin-top: 5px;
    margin-left: -30px;
    margin-bottom: -3px;
}
