/* 
Credits: Bit Repository
*/

#acf_wrap { width: auto; background-color: white; text-align:left; margin-bottom: 20px; margin-left: auto; margin-right: auto; padding: 10px; border: 0px none; color:black; }
#acf_wrap h1 { background: url("../images/icon-mail.png") no-repeat scroll 0 50% white; font-size: 25px; font-weight: lighter; height: 32px; margin: 17px 0; padding-left: 63px; text-align: left; }

#acf_wrap .wrap { margin: 0px 0 10px 0; }

#acf_note { display:none; }

#acf_wrap .notification_ok { line-height:19px; -moz-border-radius: 5px 5px 5px 5px; background: url("../images/icon-button-ok.png") no-repeat scroll 14px 35% #F5F9FD; height: auto; margin: 0 0 10px; padding: 8px 0 8px 46px; text-align: left; border: 1px solid green; }
#acf_wrap .notification_error { line-height:19px; -moz-border-radius:5px 5px 5px 5px; background-color:  #FDF4F5; height:auto; margin:0 0 10px; padding:8px 0 8px 11px; text-align:left; border: 1px solid #cc0000; }

#acf_wrap .acf_debug { border:1px solid #cdcdcd; padding: 5px; -moz-border-radius:4px; margin: 10px 0 10px 0; }

#acf_wrap .acf_hide { display:none; }

div.clear { clear:both; }

#acf_fields label { margin: 0 0 0 5px; }
#acf_fields label.field { font-weight: bold; margin: 0; }

#acf_fields div.parent { margin: 0 0 10px 0; clear:left; }

/* Input, Textarea, Select */
#acf_fields input.text, textarea, select { font-size: 100%; -moz-box-shadow: 0 0 3px #eeeeee; background:-moz-linear-gradient(top, #ffffff, #eeeeee 1px, #ffffff 5px); margin: 5px 5px 5px 0; padding: 6px; background-color: #fefefe; float: none; border: 1px solid #cdcdcd; color: #333333; -moz-border-radius: 3px; }
#acf_fields input.text, select { font-size: 85%; }
#acf_fields textarea { background-color: #fefefe; width: 300px; height:auto; padding: 6px; float: none; border: 1px solid #cdcdcd; color: #333333; -moz-border-radius: 3px; }

#acf_fields input.acf_error, select.acf_error, textarea.acf_error { border: 1px solid #F3CCBE; }
#acf_fields input.acf_ok, select.acf_ok, textarea.acf_ok { border: 1px solid #B9E7AE; }

#acf_fields div.acf_error { font-size: 95%; color: red; margin: 0px 0px 15px 0px; width: auto; text-align: left; padding: 0px; clear: both; }

/* Checkbox */
#acf_fields input.chck { top: 0 !important; clear:both; float:left; margin: 1px 1px 0 0 !important; padding: 2px !important; background-color:#FEFEFE !important; }
#acf_fields input.rad { margin: 1px 1px 0 0 !important; padding: 2px !important; background-color:#FEFEFE !important; }

#acf_fields input.acf_error { border: 1px solid #F3CCBE; }
#acf_fields input.acf_chck_error { border: 1px solid #F3CCBE; }
#acf_fields input.acf_rad_error { border: 1px solid #F3CCBE; }

#acf_fields select.acf_error { border: 1px solid #F3CCBE; }
#acf_fields textarea.acf_error { border: 1px solid #F3CCBE; }

#acf_fields input.acf_ok { border: 1px solid #B9E7AE; }
#acf_fields select.acf_ok { border: 1px solid #B9E7AE; }
#acf_fields textarea.acf_ok { border: 1px solid #B9E7AE; }

/* Checkboxes */
#acf_fields ul.acf_checkboxes_area { display:block; list-style:none outside none; margin:5px 0 5px; padding:0; }
#acf_fields ul.acf_checkboxes_area li { list-style-type: none; margin: 3px 0 3px 0; padding: 6px 0 0 5px; float:left; clear:both; }

#acf_fields div.acf_checkboxes_area_col { display: block; float: left; margin: 0 0 15px 0; }
#acf_fields div.acf_checkboxes_area_col ul { float: none; list-style:none outside none; margin:5px 0 5px; display: block; padding: 0 25px 0 0; }
#acf_fields div.acf_checkboxes_area_col ul li { list-style-type: none; margin: 3px 0 3px 0; padding: 6px 0 0 5px; }

/* Radios */
#acf_fields ul.acf_radios_area { display:block; list-style:none outside none; margin:5px 0 5px; padding:0; }
#acf_fields ul.acf_radios_area li { list-style-type: none; margin: 3px 0 3px 0; padding: 6px 0 0 5px; }

#acf_fields div.acf_radios_area_col { display: block; float: left; margin: 0 0 15px 0; }
#acf_fields div.acf_radios_area_col ul { float: none; list-style:none outside none; margin:5px 0 5px; display: block; padding: 0 25px 0 0; }
#acf_fields div.acf_radios_area_col ul li { list-style-type: none; margin: 3px 0 3px 0; padding: 6px 0 0 5px; }


/* The icon used to reload the CATPCHA */
#acf_icon_refresh { margin: 0 0 7px 0 !important; }

img.acf_captcha_vertical { margin: 0; border: 1px solid #e7e7e7; -moz-border-radius: 3px; }

#acf_captcha_div { float:left; margin: 3px 0 0 0; }
#acf_captcha_refresh { display:none; }

#acf_input_box_div { float:left; }

/* CAPTCHA Verified */
#acf_verified { background: url("../images/icon-tick-circle-frame.png") no-repeat scroll 0 47% white; color: green; margin: 0 0 10px 0; padding: 2px 0 0 23px !important; min-height: 16px !important; }
#acf_verified .ok { margin: 0px; } 

/* A CAPTCHA DIV */

#acf_main_sec_div { clear:both; }

#acf_sec_div { float: left; }
#acf_sec_div_two { float: left; clear:both; display: none; margin: 5px 0 5px 0; }

#acf_ajax_loading { margin: 16px 0 21px -4px; padding: 0 0 0 29px; display: none; float:left; width:324px; background: white url('../images/icon-ajax-loader.gif') no-repeat scroll 8px 66%; }

/* Highlight Rows */
#acf_fields .acf_highlighted { background-color: #FFFFEF; }

/* Style for DatePicker */
.ui-widget { font-size: 13px !important; }
.ui-datepicker { font-size:13px !important; z-index: 99999 !important; }

div.acf_powered_by { margin: 20px 0 0 0; font-size:11px !important; }